# Discord Bot Token
TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Client ID - Only needed for the "delete-commands" script
CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXX

# MongoDB Connection String
# Replace "localhost:27017" with "mongo" if you are using the MongoDB container
MONGODB_URI=mongodb://localhost:27017/discordbot

# Production?
PROD=true

# Lavalink Nodes
# lavalink://<nodeId>:<nodeAuthorization(Password)>@<NodeHost>:<NodePort>
# WARNING! Password and Node ID must be URL-encoded.
LAVALINK_NODES="lavalink://local+host:youshallnotpass@localhost:2333 lavalink://not+local+host:megahardpassword%21%401234@notlocalhost:2450"

# Guild IDs to Register devOnly Commands to
# Separated with a space
DEV_GUILDS_IDS="123456789098765432 987654321012345678"

# Channel ID for Join/Leave Logs
DEV_LOGS_JOINS="123456789098765432"

# Settings for Embeds
EMBED_COLOR="#00FF00"
EMBED_FOOTER=My Discord Bot | v1.0.0

# Bot's Owner User ID
OWNER="123456789098765432"

# Default Bot's Language
DEFAULT_LANG=en-US

# URL Shortener
URL_SHORTENER_URL=
URL_SHORTENER_KEY=