# Trash
.DS_Store
Thumbs.db

# Configuration
/config.json
/config.json.*

# Node
node_modules

# TypeScript build
dist
tsconfig.tsbuildinfo

# Recommended extensions
!.vscode/extensions.json