# Bot Configuration
config.js

# DB
giveaways.json

# Backups
backups

# commands.md
**/commands.md

# Clips
clips

# Mac OS files
.DS_Store

# PM2
report*.json
!languages/**/general/report.json

# IDE
.vscode

# Node modules
node_modules
yarn.lock