# Bot Configuration
config.js

# Node modules
node_modules
package-lock.json
yarn.lock

# DB
giveaways.json

# Backups
backups

# Mac OS files
.DS_Store

# PM2
report*.json
!languages/**/general/report.json

# IDE
.vscode

# commands.md
**/commands.md

# Clips
clips