<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Version</b> 1.0.0
	</div>
	<strong>This website uses <a href="https://adminlte.io">AdminLTE</a> and <a href="https://boostrap.com">Boostrap</a>. Made by Jonny_Bro#4226</a>.</strong>
</footer>